.inset-pill {
    font-size: 1.1rem;
    font-family: monospace;
    padding: 0.4rem 1.2rem;
    border-radius: 0.4rem;
    background: #FFFBFB;
    border: 1px dashed #AE7070;
    margin: 0.2rem;
}
.customer-wrapper {
    color: var(--text-s-04-p);
    font-size: 1.6rem;
    font-weight: normal;
    margin: 0;
    line-height: 2.3rem;
    letter-spacing: -0.2px;
    display: flex;
    gap: 1.4rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.transcend-catalog {
    border: 1px dashed #40DA6C;
    background: #FDFDFD;
    color: hsla(137, 69%, 33%, 1)
}
.old-catalogs {
    border: 1px dashed #F26062;
    background: rgba(253, 253, 253, 0.50);
    color: hsla(359, 85%, 66%, 1)
}
img, video {
    /* box-sizing: border-box; */
    border: 1px solid var(--border-divs-wrapper-v2);
    border-radius: 0.8rem;
}