.inset-pill {
    font-size: 1.1rem;
    font-family: monospace;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
    background: #FFFBFB;
    border: 1px dashed #AE7070;
    margin: 0.2rem;
}
.difference {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.difference div {
    color: var(--text-s-04-p);
    font-size: 1.6rem;
    font-weight: normal;
    margin: 0;
    line-height: 2.3rem;
    letter-spacing: -0.2px;
}

.customer-wrapper {
    display: flex;
    flex-direction: column;
}

.audience-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}