
/* Page title 
-------------------------------------------------- */

section#page-title {
    /* margin-top: 2rem; Once I changed nav.header in nav-global-desktop.css from sticky to fixed, this had to become 6*/
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
    /* border: 1px solid red; */
}

h1 {
    font-family: 'Inter Display', 'Inter', sans-serif;
    color: var(--text-s-01-page-title-h1);
    font-size: 2.2rem;
    line-height: 2.7rem;
    font-weight: 550;
    width: 530px; /* used to be 632px */
    text-align: center;
    letter-spacing: -0.15px;
    margin: 0;
}
#page-title p {
    font-size: 1.4rem;
    /* width: 421px; */
    width: 30%;
    color: var(--text-s-01-page-title-p);
    line-height: 1.8rem;
    letter-spacing: -0.25px;
    text-align: center;
    margin-top: 0;
    /* display: none; */
}



/* Projects
-----------------------------------------------*/
main{
    margin-top: 2rem;
    max-width: 1190px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.0rem;
    /* border: 1px solid red; */
}

/* selects all classes containing the mobile string */
[class*="mobile"] {
    display: none !important; 
}

section.work {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
    cursor: pointer;
}
main a {
    display: block;
    text-decoration: none;
}
section.work div {
    /* width: 380px; */
    /* height: 320px; */
    height: 214px;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border: 1px solid hsla(20, 6%, 90%, 0.2);
}
.work p {
    color: var(--text-s-04-caption);
    font-size: var(--secondary-text-size);
    margin: 0;
    display: flex;
    gap: 0.6rem;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid red; */
}
section.case-study div {
    width: 782px;
    overflow: hidden;
}
.trial {
    width: 100%;
}

.dialog {
    height: 80vh;
    width: 75%;
    background-color: hsla(20, 6%, 90%, 0.8);
    border: 1px solid crimson;
    position: absolute;
    z-index: 999;
    border-radius: 0.4em;
    overflow: scroll;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.video-wrapper{
    display: flex;
    justify-content: center;
    margin: 0;
    width: 90%;
    margin-top: 4rem;
}
.dialog video {
    width: 100%;
}
.div2 {
    min-height: 4rem;
    background-color: red;
    position: sticky;
    bottom: 0;
    width: 100%;
}

/* Dan D modal styles  */

.overlay {
    display: none; /* JS alters this */
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: var(--surface-overlay);
}

.modal {
    position: fixed;
    z-index: 999;
    pointer-events: none;
    inset: 0px;
    opacity: 1;
    display: none;
    max-width: 1184px; 
    margin: 0 auto; /* Ensures the modal stays in the center when it reaches its max width */
}
.modal_absolute {
    position: absolute;
    display: grid;
    pointer-events: auto;
    inset: 0px;
    place-items: center;
}
.modalContent_buttonWrapper {
    background-color: rgba(255, 255, 255, 0.8);
    transform-origin: 50% 50% 0px;
    transform: none;
    
    position: relative;
    max-width: 90vw;
    width: 960px;
    /* width: 960px; 960px; */
    height: auto;
    /* pointer-events: auto; */
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 35px 60px, rgba(0, 0, 0, 0.08) 0px 20px 30px, rgba(0, 0, 0, 0.05) 0px 9px 12px; */
    border-radius: 16px;
    /* background: rgba(255, 255, 255, 0.05); */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(233, 233, 233);
    border-image: initial;
    overflow: hidden;
}
.video_text_parent {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    padding: 2.8rem 2.4rem 2rem;    

}
.video_text_parent div.btns {
    position: absolute;
    right: 24px;
    bottom: 56px;
    width: auto;
}
.video_text_parent .btns button {
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--cta-color);
    padding: 1.0rem 1.4rem;
    display: flex;
    width: auto;
    gap: 0.6rem;
    justify-content: center;
    border-radius: 0.4rem;
    color: var(--warm-gray-900);
}
.video_text_parent .btns:hover button {
    background-color: var(--cool-gray-100);
    border: 1px solid var(--cool-gray-500);
}
.mediaWrapper {
    /* transform: none; */
    /* transform-origin: 50% 50% 0px; */
    width: 100%;
    min-height: 240px;
    max-height: 50vh;
    /* height: auto; */
    position: relative;
    overflow: scroll;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* border-radius: 8px; */
    border: 1px solid hsla(20, 6%, 90%, 0.5);
    padding: 0;
    gap: 1.2rem;
}
.video-media {
    width: 100%;
    /* max-height: 60vh; */
    height: auto;
    /* object-fit: contain; */
}
.images-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    /* border: 1px solid purple; */
    gap: 1.2rem;
    margin: 0;
}
.imgFlex {
    grid-column-start: 1;
    grid-column-end: 3;
}
.mediaWrapper img, .images-wrapper img {
    width: 100%;
}

.textWrapper {
    position: sticky;
    bottom: 0px;
    opacity: 1;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    /* margin: 1.2rem 0; */
}
.textWrapper h2 {
    color: var(--cool-gray-800);

    font-size: 2.2rem;
  font-family: 'Inter Display', 'Inter', sans-serif;
    line-height: 1.8rem;
    letter-spacing: -0.25px;
    font-weight: 600;
    margin: 0;
}
.textWrapper p{
    line-height: 2.4rem;
    color: var(--cool-gray-600);
    margin-bottom: 0.8rem;
}
.textWrapper ul {
    margin: 0;
    font-size: inherit;
    line-height: 2.6rem;
    list-style: circle;
    margin-left: 2rem;
    color: var(--warm-gray-600);
}
.closeButton {
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: pointer; */
    background: rgba(255, 255, 255, 0.95);
    padding: 1.2rem;
    border-bottom-left-radius: 0.8rem;
    border: 1px solid rgb(233, 233, 233);

}
.closeButton:hover {
    background: var(--cta-color);
    border-bottom-left-radius: 8px;
    border: 1px solid rgb(233, 233, 233);
    top: -1px;
    right: -1px;
    
}
.closeButton svg {
    stroke-width: 1.8px;
    stroke: var(--gray-900);
}

footer {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    width: 100%;

    margin-top: 5rem;

    background-color: var(--surface-icon-bg); 

    padding: 1rem;
}
footer nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: space-between;  
    font-size: 1.4rem;
    padding: 0 1.6rem;

}
footer p, footer ul  {
    color: var(--secondary-text-color);
    font-size: var(--secondary-text-size);
    /* font-weight: 500; */
}
footer ul {
    list-style: none;
    display: flex;
    gap: 1.8rem;
    align-items: center;
}



@media screen and (max-width:796px){

    [class*="desktop"] {
    display: none !important; 
}
[class*="mobile"]{
    display: flex !important; 
}

.page-wrapper {
    max-width: 796px;
}

/* Header/Nav styles are in nav-global-mobile.css */

section#page-title {
    /* margin: 1.6rem 0 0.4rem; Once I changed nav.header in nav-global-mobile.css from sticky to fixed, 1.6 had to become 5.6 */

    margin: 5.6rem 0 0.4rem;
}
h1 {
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    font-family: 'Inter Display', 'Inter', sans-serif;
    
    /* width: 65%; */
    max-width: 75%;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin: 0.4rem 0;
}
#page-title p {
    font-size: 1.2rem;
    width: 320px;
    line-height: 1.4rem;
    letter-spacing: -0.25px;
    text-align: center;
    margin-top: 0;
}
  .page-title br {
    display: none;
  }

/* Main files -------------------------------------- */

main {
    max-width: 300px;
    gap: 1.8rem;
    margin-top: 1.8rem;

}


section.work, section.work a{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    cursor: pointer;
    /* border: 1px solid red; */

    /* flex: 1 1 auto; */
}
main a {
    display: block;
    text-decoration: none;
}
section.work div {
    /* width: 380px; */
    /* height: 320px; */
    height: 214px;
    border-radius: 0.4rem;
    /* background-color: var(--case-study-bg); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border: 1px solid hsla(20, 6%, 90%, 0.2);
}
.work p {
    color: var(--secondary-text-color);
    font-size: 1.3rem;
    margin: 0;
    display: flex;
    gap: 0.6rem;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid red; */

}
section.case-study div {
    width: 782px;
    overflow: hidden;
}

footer {
    display: inline-flex;

}
footer nav {
    width: 75%;
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

footer p, ul  {
    color: var(--secondary-text-color);
    font-size: var(--secondary-text-size);
    margin: 0;
    /* font-weight: 500; */
}

footer ul {
    list-style: none;
    text-decoration: none;
    display: none;
    gap: 1.8rem;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
footer ul li {
    margin: 0;
}

}