/* .container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-inline: auto;
    padding-inline: 2.4rem;
  } */
  

.s-01 {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    width: 100%;
    /* padding-top: 2rem; */
}
section.title-texts {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    position: relative;
    margin-left: 18rem;
}
h1.page-title {
    color: var(--text-s-01-page-title-h1, #171412);
    font-family: "Inter Display", "Inter", sans-serif;
    font-size: 7.4rem;
    font-weight: 400;
    line-height: 8.8rem;
    letter-spacing: -0.1rem;
    text-align: left;
    /* margin: 0; */
    
    width: 60%;
    max-width: 80%;
}
.title-texts p {
    color: var(--text-s-01-page-title-p, #4A5464);
    font-family: "Inter";
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.8rem; /* 152.381% */
    letter-spacing: -0.06rem;

    text-align: left;
    margin-top: 0;

    max-width: 50%;
}

.s-01 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    /* background: var(--surface-s1-bg); */
    /* max-width: 94%; */
    /* padding: 4.8rem 3.2rem; */
    /* padding: 0 4rem;  */
    /* 32px to the sides - Key decider */
    border-radius: 1.4rem;
}

.s-01 img {
    max-width: 96%;
}
p.outcome {
    color: var(--text-s-04-p);
    font-size: 1.6rem;
    font-weight: normal;
    margin: 0;
    line-height: 2.3rem;
    letter-spacing: -0.2px;
    /* opacity: 0.5; */
    max-width: 40%;
}
p.next-caption {
    color: var(--text-s-02-product-goal-details-p);
    font-size: 1.8rem;
    font-weight: normal;
    margin: 0;
    line-height: 2.3rem;
    letter-spacing: -0.2px;
    padding-top: 1rem;
    border-top: 1px solid var(--text-audience);
    max-width: 70%;

}
.section2 {
    width: 100%;
    margin: 4rem 0 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2%;
    gap: 1.8rem;
}
.s-02 { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 1.4rem;
}
.product-goal {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    height: auto;
    margin: 0;
}
.s-02 .product-goal h3 {
    color: var(--text-s-02-product-goal-h3);
    font-family: "Inter Display", "Inter", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
    margin: 0;
    width: 90%;
}
.product-goal p {
    color: var(--text-s-02-product-goal-caption);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
    margin: 0;
}
.problem-statement {
    text-align: center;
    color: var(--teal-900);
    font-size: 1.8rem;
    opacity: 1;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
    font-family: "Inter display", sans-serif;
    background-image: url("media/ropa/papers-combined.png") !important;
    background-position:0px 0px, left 1em bottom 1em;
    background-color: var(--true-gray-300);
}
.caption-pilcrow {
    width: 80%;
}
.product-goal-details {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin: 0;
}

.product-goal-details p {
    color: var(--text-s-02-product-goal-details-p);
    font-size: 1.6rem;
    font-weight: normal;
    margin: 0;
    line-height: 2.3rem; 
    letter-spacing: -0.2px;
}

.goal-reasons-wrapper {
    display: flex;
}
.goal-reasons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.goal-reasons > div {
    width: 20px;
    min-width: 20px;
}

.goal-reason {
    color: var(--text-s-02-product-goal-reasons);
    width: 90%;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.0rem; 
    letter-spacing: -0.2px;
}

.s-03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.4rem;
    
}
.customer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    background-image: url(media/cloudy-bg.png);
    height: 100%;

    border-radius: 0.8rem;
}
.icon-and-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    color: var(--true-gray-200);
}


.flex-align-center {
    align-items: center;
} 


/* The small callouts */
.section3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 6rem 0 2rem;
}
.section3 .wrapper-1, .wrapper-2, .wrapper-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    width: 100%;
}
.wrapper-1 {
    gap: 0rem;
}
.wrapper-2 {
    gap: 0.6rem;
}
.wrapper-3 {
    gap: 1rem;
}

.top-context {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.6rem;
}
.top-context .caption, .customer-caption {
    color: var(--text-s-04-caption);
    width: fit-content;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.0rem;
    letter-spacing: -0.2px;
}

.top-context svg {
    width: 28px;
    height: 28px;
}

h2.powerpoint {
    color: var(--text-s-04-h2);
    text-align: center;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.05rem;
    width: 70%;
}
.span-it {
    width: 100% !important;
}
.more-details {
    color: var(--text-s-04-p);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem; /* 128.571% */
    letter-spacing: -0.2px;
    width: 55%;
}
.md-xl {
    width: 80%;
}
.call-out {
    border-radius: 0.4rem;
    border: 1px dashed var(--border-danger);
    background: var(--surface-danger);
    display: flex;
    padding: 0.4rem 2.8rem;
    justify-content: center;
    align-items: center;

    color: var(--states-danger);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem; 
}




.section4 {
    /* border: 1px solid red; */
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0;
}
.old-way-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.8rem;
    /* max-width: 98%; */
    padding: 4.8rem 3.2rem 0 4.8rem;
    border-radius: 1.4rem;
    background: var(--surface-s4-bg);
}

.old-way-wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 2rem;
    /* padding: 2rem; */
    /* border: 1px solid red; */
}
.section4 img {
    max-width: 75%;
    border-radius: 0.4rem;
    border: 1px solid var(--border-divs-wrapper);
}
img.special-border {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}
.ropa-def {
    color: var(--text-audience);
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem; /* 150% */
    letter-spacing: -0.16px;
    width: 58%;
    text-align: center;
    /* border: 1px solid red; */
}

.two-rows-grid {
    width: 100%;
    /* max-width: 1190px; */
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem 0;
    /* border: 1px solid red; */
}
.three-rows-grid {
    width: 100%;
    /* max-width: 1190px; */
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem 0;
    /* border: 1px solid red; */
}
.grid-images {
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 1.2rem;
    /* border: 1px solid red; */
}

.span-3 {
    grid-column-start: 1;
    grid-column-end: 4;
}
.grid-images .img-wrapper {
    background-color: var(--surface-grid-images-default);
    padding: 2rem 2rem 0;
    border-radius: 1rem;
    width: 100%;
    /* border: 1px solid red; */
}
.remove-wrapper-gap {
    padding: 0 !important;
    gap: 0;
}
.remove-wrapper-gap img {
    border-radius: 0 !important;
}
.more-gap {
    gap: 1.2rem;
}
.more-gap img {
    border-radius: 0.4rem !important;
}
.img-wrapper:hover {
    border: 1px solid var(--border-img-wrappers);
}
.grid-images img, .grid-images video {
    width: 100%;
    border-radius: 0.4rem;

    /* position: relative; */
    /* bottom: 0; */
}

.grid-images img:hover {
    width: 100%;
    border-radius: 0.4rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    /* position: relative; */
    /* bottom: 0; */
}

.grid-images .remove-wrapper-gap img:hover {
    border: none !important;
}
.grid-images .remove-wrapper-gap {
    border: none !important;
    padding: 0 !important;
}
.grid-images p {
    color: var(--text-audience);
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem; /* 150% */
    letter-spacing: -0.16px;
    max-width: 90%;
    text-align: center;
}
.container-stretch {
    grid-template-columns: 1fr;
}
.special-teal {
    background-color: var(--surface-teal-special) !important;
}
.special-pink {
    background-color: var(--surface-pink-special) !important;
}
video, iframe {
    width: 75%;
}

.last img {
    max-width: 100%;
    border-radius: 0.4rem;
    margin-top: 2rem;
}

.lightbox-overlay {
    display: none;
}